ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative; /* Add this line to allow absolute positioning */
    border-bottom: 2px solid hsl(0, 0%, 0%); /* Add this line to create the border */
}

ul.navbar li {
    float: right;
}

ul.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative; /* Add this line to allow absolute positioning */
    font-weight: bold;
    
}

ul.navbar li a:hover {
    background-color: hsla(0, 0%, 0%, 0.192);
    z-index: 1; /* Add this line to ensure the hover is above the border */
}

ul.navbar li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: hsl(0, 0%, 0%); /* Set the color of the overlapping border */
    transform: scaleX(0); /* Initially set to zero width */
}

ul.navbar li a.selected::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: hsl(0, 0%, 0%);
    transform: scaleX(1);
}

.selected {
    background-color:hsla(0, 0%, 0%, 0.192)
}

ul.navbar li a:hover::before {
    transform: scaleX(1); /* Expand to full width on hover */
}

.heading1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.heading2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.title {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0.25em;
    padding: 0;
    text-align: left;
}

.subtitle {
    font-size: 2em;
    margin-bottom: 0.125em;
    padding: 0;
    text-align: left;
}

.contentSection {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
}

.vcontainer {
    margin: 4% auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hcontainer {
    margin: 4% auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.vcontainer-cell {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.hcontainer-cell {
    display: flex;
    flex-direction: row;
    margin: 1%;
    justify-content: center;
}

.infotext {
    font-size: 1.5em;
    margin-bottom: 1em;
    padding: 0;
    text-align: left;
}

.twoColumns {
    width: 50%;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

.blackBox {
    background-color: rgb(0, 0, 0);
    color: white;
}

.alignTop {
    align-items: flex-start;
}

.hidden {
    display: none;
}
